<% provide :title, t(".title") %>

<h1><%= t ".title" %></h1>
<p>
  <%= link_to t(".path_name"), Settings.help.rails_link %>
  <%= t ".page_text" %>
  <%= link_to t(".book_path"), Settings.help.rails_link %>
</p>
